* {
  font-family: 'Fauna One', serif;
}

#title {
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

nav ul a {
  color: yellow;
  text-decoration: none;
}

nav ul a:visited {
  color: yellow;
  text-decoration: none;
}

nav ul a li {
  list-style: none;
  display: inline-flex;
  padding: 10px 10px;
  box-shadow: 3px 3px rgb(200, 005, 005);
  border-radius: 3px;
  background-color: rgba(0, 0, 204, 0.897);
}

nav {
  border: 1px solid black;
}


/* nav bar without hover */
nav ul a li {
  min-width: 150px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

/* Hovering over the nav bar */
nav ul a li:hover {
  background-color: rgba(200, 5, 5, 0.9);
  color: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px rgb(195, 192, 0);
  transition: linear 0.2s;
}

#jokes-container {
  border: 1px dashed red;
  text-align: center;
  margin: 10px 30px 15px 30px;
}

#joke-category-value {
  color: rgb(100, 100, 100);
}