* {
  font-family: 'Fauna One', serif;
  background-color: black;
  color: white;
}

#title {
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

#rating-form-container {
  margin-top: 20px;
  font-size: 0.8em;
}

nav ul a {
  color: yellow;
  text-decoration: none;
}

nav ul a:visited {
  color: yellow;
  text-decoration: none;
}

nav ul a li {
  list-style: none;
  display: inline-flex;
  padding: 10px 10px;
  box-shadow: 3px 3px rgba(17, 59, 4, 0.897);
  border-radius: 3px;
  background-color: rgba(83, 228, 39, 0.897);
  color: black;
  margin-right: 5px;
}

nav {
  border: 1px solid black;
  border-top: 1px dashed white;
  border-bottom: 1px dashed white;
}


/* nav bar without hover */
nav ul a li {
  min-width: 150px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

/* Hovering over the nav bar */
nav ul a li:hover {
  transition: linear 0.2s;
  box-shadow: none;
  background-color: rgba(17, 59, 4, 1);
  color: rgba(58, 212, 11, 0.897);
}

#jokes-container {
  border: 1px dashed red;
  text-align: center;
  margin: 10px 30px 15px 30px;
}

#joke-category-value {
  color: rgb(100, 100, 100);
}

.category,
.author {
  display: inline-block;
  padding: 10px 15px;
  background-color: rgba(83, 228, 39, 0.897);
  color: black;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 0.8em;
}

.category:hover,
.author:hover {
  background-color: rgba(17, 59, 4, 1);
  color: rgba(58, 212, 11, 0.897);
  transition: linear 0.2s;

}

.current-filter {
  background-color: white;
  color: black;
}

#authors h3 {}

#query-jokes {
  margin: 20px 20px;
}

/* The page header */
main h2 {
  text-align: center;
}